    .content {
        display: grid;
        grid-template-areas: "header header header"
            "sidebar main main"
            "footer footer footer";
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: 60px auto 40px;
        height: 100vh;
    }

    .header {
        grid-area: header;
        background-color: rgb(24, 0, 243);
    }

    .sidebar {
        grid-area: sidebar;
        background-color: rgb(0, 255, 42);
    }

    .main {
        grid-area: main;
        background-color: rgb(0, 244, 195);
    }

    .footer {
        grid-area: footer;
        background-color: rgb(214, 21, 112);
    }